In [1]:
import requests
import pandas as pd

In [2]:
wiki = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
wikipedia1 = requests.get(wiki)
df = pd.read_html(wikipedia1.content,header=0)[0]
df = df[df.Borough != 'Not assigned']
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [6]:
df.loc[df.Neighbourhood=="Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [7]:
df.Neighbourhood.replace('Not assigned',df.Borough,inplace=True)
df.head(8)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [10]:
df_toronto = df.groupby(['Postal Code','Borough'])['Neighbourhood'].apply(lambda x: ','.join(x))
df_toronto = df_toronto.reset_index()

df_toronto.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [11]:
df_toronto.shape

(103, 3)